$rich-black-fogra-29: #02111bff;
$onyx: #3f4045ff;
$black-coffee: #30292fff;
$cadet: #5d737eff;
$white: #fcfcfcff;
$border: #b4b8c5;

/* CSS HEX */
$usafa-blue: #26547cff;
$paradise-pink: #ef476fff;
$orange-yellow-crayola: #ffd166ff;
$caribbean-green: #06d6a0ff;
$baby-powder: #fffcf9ff;

/* SOLID COLOR CSS HEX */
$alice-blue: #f0f4fdff;
$iris: #5a55caff;
$tomato: #f26950ff;
$mountain-meadow: #2cc09cff;
$oxford-blue: #0b204cff;

/* LIGHT COLORS */
/* CSS HEX */
$alice-blue-light: #f0f4fdff;
$magnolia: #efeefaff;
$azure-x-11-web-color: #eaf9f5ff;
$seashell: #fef0edff;
$cadet-blue-crayola: #b2bac9ff;
