<div class="card">
    <div class="card-content">
        <div class="content">
            <form class="card-form" novalidate>
                <h4>Abdicate</h4>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="answer">
                        <span class="label-text">achieve</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="answer">
                        <span class="label-text">protest</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="answer">
                        <span class="label-text">renounce</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="answer">
                        <span class="label-text">demand</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="answer">
                        <span class="label-text">steal</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Previous</a>
        <a href="#" class="card-footer-item">Next</a>
    </footer>
</div>